@font-face {
   font-family: 'Square Peg';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/mobirise/insights/specialwavev2/fonts/Square Peg/regular.ttf') format('truetype');
}
